################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
results_2025-05-21_19-33-27/training.log
results/
best_deeplabv3_voc.pth
__pycache__/
